#titulo {
    width: 65px;
    color: #86af49;
}
#header {
    background-color: #d5e1df;
    color: #86af49;
    
}
 body {
  background-color: #b5e7a0;
}
.lista {
    background-color: #d5e1df;
}
#WSS {
    width: 200px;
}
#content {
    background-color: #d5e1df;
}